.suggestions {

    margin-bottom: 70px;
}

.wrapper {
    margin-top: 50px;
    height: 100%;
    width: 100%;
}

.blog_post {
    position: relative;
    padding: 6rem 3rem 6rem 6rem;
    background: #fff;
    max-width: 400px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

.img_pod {
    height: 110px;
    width: 110px;
    background: linear-gradient(90deg, #b29a39, #f3c900);
    z-index: -1;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    position: absolute;
    left: -50px;
    top: 10px;
    transform: translateY(-50%);
}

.images {
    height: 100px;
    width: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

.suggestion_h3 {
    margin: 0 0 0.5rem 0;
    color: #999;
    font-size: 1.25rem;
}

.suggestion_h1 {
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    color: #333;
}

.suggestion_p {
    margin: 0 0 4.5rem 0;
    font-size: 1.5rem;
    color: #333;
}
