.licenses {
    min-height: 80vh;
    display: flex;
    justify-content: center;
}

.form_license {
    font-size: 20px;
    margin: 3rem auto 5rem auto;
    width: 500px;
    text-align: center;
}

.form_license input, select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.h2 {
    margin: 2rem 0;
    text-align: center;
    font-size: 35px;
}

.ques_btn {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: #f9fafb;
    background-color: #0c63e4;
}
