// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import '../fonts/flaticon';


// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

.media-comment {
    margin-top: 20px;
}

.media-body {
    border: 1px solid #c7c9e673;
    border-radius: 5px;
}
