.content .imgBox img {
    max-width: 100%;
}

.content .textBox h2 {
    color: #333;
    font-size: 4em;
}

.container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container2 .card2 {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 15px;
    overflow: hidden;
}

.container2 .card2 span {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0.95;
    background: #F2C64D;
    z-index: 1;
    transition: width 0.5s, height 0.5s;
}

.container2 .card2:hover span {
    width: 1250px;
    height: 1250px;
}

.container2 .card2 .prBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container2 .card2 .prBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container2 .card2 .content2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.container2 .card2 .content2 div {
    padding: 40px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.2s;
}

.container2 .card2:hover .content2 div {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.product-section h2 {
    color: #4895ef;
}
