.my_nav {
    background-color: #272c3f;
    padding-bottom: 20px;
    /*margin-bottom: 20px;*/
    /*padding: 20px 0;*/
}

.nav_main{
    background-color: #272c3f;
    padding-top: 20px;
    padding-bottom: 1px;
}

.call {
    color: white;
    border: solid 2px #a29160;
}

.call:hover{
    background-color: #a29160;
    color: white;
}

.hr {
    color: #a29160;
}


body {
    font-family: "Roboto Condensed";
    margin: 0;
    /*padding: 10px;*/
}

.my_dropdown {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100px;
    /*background-color: #0abf53;*/

}

.dropdown li {
    position: relative;
}

.dropdown li a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.dropdown li ul {
    position: absolute;
    top: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    line-height: normal;
    background-color: #333;
    opacity: 0.9;
}

.dropdown li ul li a {
    text-align: left;
    color: #cccccc;
    font-size: 14px;
    padding: 10px;
    display: block;
    white-space: nowrap;
    background-color: #272c3f;
}

.dropdown li ul li a:hover {
    background-color: #a29160;;
    color: #ffffff;
}

.link_menu:hover{
    color: #a29160;;
}

.dropdown li ul li ul {
    left: 100%;
    top: 0;
}

/*ul li:hover > a {*/
/*    background-color: #0abf53;*/
/*    color: #ffffff !important;*/
/*}*/

ul li:hover > ul {
    display: block;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #a29160;
}

.custom-select {
    background-color: #272c3f;
    color: white;
    margin-left: 10px;
}

.custom-select option:hover {
    color: #a29160;
}

@media (min-width: 0) {
    .g-mr-15 {
        margin-right: 1.07143rem !important;
    }
}
@media (min-width: 0){
    .g-mt-3 {
        margin-top: 0.21429rem !important;
    }
}

.g-height-50 {
    height: 50px;
}

.g-width-50 {
    width: 50px !important;
}

@media (min-width: 0){
    .g-pa-30 {
        padding: 2.14286rem !important;
    }
}

body {
    background-color: #eee;
    font-family: 'Poppins', sans-serif
}

.card {
    border: none;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03)
}

.comment-text {
    font-size: 12px
}

.fs-10 {
    font-size: 12px
}
