.header{
    padding: 20px 0;
    color: #fff;
    background-color: black;
}

.logo {
    border: 1px solid #fff;
    padding: 20px 30px;
}


.header__row {
    display: flex;
    justify-content: space-between;
}

.header-nav__list{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 20px 0;
}

.header-nav__item {
    position: relative;
    margin-right: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: white;
}

.header-nav__item::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #F2C64D;
    transform: scale(0);
    transition: 0.3s;
}

.header-nav__item:hover::before {
    transform: scale(1)
}

.header-nav__link {
    text-decoration: none;
    color: #fff;
}



