
.form-Certificate {
    display: flex;
    justify-content: center;
    margin: 3rem auto;
    width: 50%;
}


.create-certificate {
    margin-top: 40px;
    text-align: center;
    font-size: 25px;
}

.label_uni {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

::placeholder{
    color: #e5e5e5;
}

.uniBtn {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}

.certificate_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9998;
    background: rgb(0,0,0, 0.8);
}

.certificate_modal_body {
    text-align: center;
    padding: 2rem 1rem 0 1rem;
    width: 550px;

    background-color: #f9fafb;
    display: flex;
    justify-content: center;
}
.headerUni2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.certificate_modal.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

.certificate_modal.notActive {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease;
}
