.auth_categories {
    width: 100%;
    min-height: 75vh;
    padding: 3rem 0;
}

ul.ks-tags {
    list-style: none;
}
ul.ks-tags li{
    display: inline;
}
ul.ks-tags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .5);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-tags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-tags li input[type="checkbox"]:checked + label {
    background-color: #f2c64d;
    color: #fff;
    transition: all .2s;
}
ul.ks-tags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.auth_category {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(139, 139, 139, .5);
    border-radius: 4px;
    padding: 1rem;
    margin: 1rem 0;
    color: #adadad;
}

.qdelete {
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #ff4e35;
    color: #ff4e35;
    text-decoration: none;
}

.qdelete:hover {
    color: #f9fafb;
    background-color: #ff4e35;
}

.h23 {
    text-align: center;
    color: #adadad;
    font-weight: 600;
    font-size: 45px;
    margin: 3rem 0;
}

.submit_qc {
    display: block;
    width: 80px;
    text-align: center;
    margin: 2rem auto;
    padding: 6px 14px;
    border-radius: 5px;
    border: 2px solid #adadad;
    color: #adadad;
    text-decoration: none;
}

.submit_qc:hover {
    color: #f9fafb;
    background-color: #adadad;
}
