.home__content{
    background-image: url("./img/users.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 100px;
}

.users__content{
    background-image: url("./img/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 100px;
}


.home__container {
    max-width: 1110px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

.home__intro {
    padding: 200px 0;
}

.home__title {
    color: #ffffff;
    font-weight: 400;
    font-family: "Playfair Display", serif;
    font-size: 56px;
    line-height: 68px;
    width: 500px;
}

.home__text {
    font-size: 26px;
    font-weight: 400;
    color: #C7C7C7;
    margin-bottom: 50px;
    margin-top: 16px;
    line-height: 32px;
    font-style: italic;
    width: 500px;
}

.home__btn {
    background: transparent;
    color: #F2C64D;
    display: inline-block;
    padding: 15px 44px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #F2C64D;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
}

.home__btn:hover {
    color: #fff;
    background-color: #F2C64D;
}

.h22 {
    font-size: 2.5rem;
    margin-top: 2rem;
    color: #f9fafb;
    text-align: center;
}

.topUsers{
    margin-bottom: 40px;
    margin-top: 20px;
}
