.home__btn {
    background: transparent;
    color: #F2C64D;
    display: inline-block;
    padding: 15px 44px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #F2C64D;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.col-form-label {
    color: #7e7e7e;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}
.btn-close {
    background: #1d2124;
    color: #fff;
    display: inline-block;
    padding: 15px 44px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #F2C64D;
    text-align: center;
    text-transform: capitalize;
}
.btn-close:hover {
    background: #fff;
    color: #F2C64D !important;
    border: 1px solid #F2C64D;
}

.btn-save {
    background: #F2C64D;
    color: #fff;
    display: inline-block;
    padding: 15px 44px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #F2C64D;

    &:hover {
        background: #fff;
        color: #F2C64D !important;
        border: 1px solid #F2C64D;
    }
}


.modal-footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
