
.footer {
    background: #202020;
    padding: 120px 0;
    margin-top: 100px;

    .social-icon--list {
        margin-top: 30px;
        width: 140px;
        display: flex;
        justify-content: space-between;

        .social-icon {
            background: #313131;
            min-width: 40px;
            height: 40px;
            max-width: 40px;
            max-height: 40px;
            border-radius: 20px;
            color: #C7C7C7;
            font-size: 18px;

            svg {
                font-size: 18px;
            }
        }
    }

    .footer_title {
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 40px;
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            a {
                font-size: 14px;
                color: #C7C7C7;
                line-height: 42px;
                text-decoration: none;
            }
        }
    }

    p.footer_text {
        font-size: 14px;
        color: #C7C7C7;
        margin-bottom: 23px;
        font-weight: 400;
        line-height: 28px;

        a.domain {
            color: #B2B2B2;
            font-weight: 400;
        }
    }

    .newsletter_form {
        display: flex;
        margin-bottom: 20px;
        position: relative;

        input {
            width: 100%;
            height: 45px;
            background: #fff;
            padding-left: 20px;
            font-size: 14px;
            color: #000;
            border: none;
        }

        button {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            border: none;
            font-size: 14px;
            color: #fff;
            background: #F2C64D;
            padding: 0 22px;
            cursor: pointer;
        }



    }
    .newsletter_text {
        font-size: 14px;
        color: #BABABA;
    }
}
