.button-link{
    background-color: #F2C64D;
    border: none;
    color: white;
    padding: 15px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 10px 5px;
    cursor: pointer;
}
.links{
    text-align: center;
}
