body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}


.btn__auth {
    margin-top: 10px;
    margin-right: 15px;
    background: transparent;
    color: #F2C64D;
    display: inline-block;
    padding: 10px 10px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #F2C64D;
    border-radius: 10%;
    text-align: center;
    text-transform: capitalize;
    transition: 0.3s;
}

.btn__auth:last-child {
    margin-right: 0;
}

.link__auth {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}


.btn__auth:hover{
    background-color: #F2C64D;
}

.btn__menu {
    margin-top: 10px;
    margin-right: 15px;
    background: transparent;
    color: #F2C64D;
    display: inline-block;
    padding: 10px 10px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #F2C64D;
    border-radius: 10%;
    text-align: center;
    text-transform: capitalize;
    transition: 0.3s;
}

.link__menu {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

h1 {
    text-align: center;
}
