ul.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

ul.pagination li {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 10px;

}
ul.pagination li a {
    font-size: 18px;
    color: #4e5052;
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid #4e5052;
}

ul.pagination li a:hover,
ul.pagination li a.active {
    background: #F2C64D;
    color: #fff;
    border-color: #F2C64D;
}
