.alert {
    min-width: 400px;
    z-index: 9999;
    position: fixed;
    left: 50%;
    top: 100px;
    text-align: center;
    transform: translate(-50%, 50%);
    border-radius: 10px;
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    opacity: 0;
    visibility: hidden;
}

.alert.active {
    opacity: 1;
    visibility: visible;
}
