.news-main{
    align-content: center;
    margin-bottom: 20px;
    margin-top: 30px;
}
.news-title{
    margin-bottom: 15px;
    font-size: 40px;
    text-align: center;
    text-shadow:
        -1px -1px #000,
        0 1px 0 #444;
    color: #222;
    transition: all 1s;
}

.news-text{
    text-align: justify;
    line-height: 40px;
    font-size: 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}


