@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
/*   color variables */
/*   border radius */
*,
*::before,
*::after {
    /*box-sizing: border-box;*/
    margin: 0;
    padding: 0;
}
.mediators__content{
    background-image: url("../common/img/home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 100px;
}
.container {
    width: 1000px;
}

.card__img {
    width: 14rem;
    height: 11rem;
    object-fit: cover;
}

body {
    font-family: "Noto Sans", sans-serif;
    color: #4f546c;
}

.wrapper {
    margin: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    justify-content: center;
}

.card {
    box-shadow: 0 0 10px 5px #e1e5ee;
    border-radius: 0.2rem;
    min-width: 28rem;
    display: flex;
}

.card__img {
    width: 14rem;
    height: 11rem;
    object-fit: cover;
}


.card__body {
    margin: 1rem;
    flex-grow: 1;
}

.card__title {
    line-height: 1.4rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.card__btn:hover {
    text-decoration: none;
}

.card__btn {
    border: none;
    border-top: 1px solid #e1e5ee;
    background-color: transparent;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    color: inherit;
    width: 100%;
    padding-top: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}
.card__btn:hover {
    color: #F2C64D;
}
@media screen and (min-width: 800px) {
    .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(19rem, 20rem));
    }

    .card {
        flex-direction: column;
        text-align: center;
        min-width: 14rem;
        width: 300px;
    }

    .card__img {
        width: 100%;
        height: 12rem;
    }
}
